<!-- <div style="margin-left: 10%;margin-top: 11% ;    margin-right: 7%;">

     <a class="col-md-4" *ngFor="let i of locks" style="          margin-bottom: 5%;margin-right: 0%; margin-left: -7%;background: white;border-radius: 13px;color: black;font-family: cursive;"> 

    <tr class="col">
         <img style="width: 67%;" src={{i.image}}> {{i.name}}


        <h4>Price {{i.price}}</h4> 
        <td class="row">
            <div class="col-md-4" *ngFor="let i of locks">
                <li>
                    <a>
                        <img src={{i.image}} style="width: 70%;">
                        <h4>{{i.Description}}</h4>
                        <p style="font-size: 16px;font-weight: 700;color: #212121;">Price : ₹ {{i.price}}</p>
                    </a>
                </li>
            </div>
        </td>

    </tr>
</div> 
 -->




<!-- <div class="row" style="margin-left: 10%;margin-top: 11%;">
    <table>

        <tr  style="margin-right: 4%;background: white;border-radius: 13px;color: black;font-family: cursive;">

            <div>
                <img style="width: 67%;" src={{i.image}}> {{i.name}} hello
            </div>

            <h4>Price {{i.price}}</h4>


        </tr>
    </table>
</div> -->

<div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let item of locks" style="margin-top: 3%;">
    <a title="{{item.Description}}" style="text-decoration: none;">
        <div class="thumbnail" style="box-shadow: 2px 2px 2px #888888;height:250px;">
            <img src={{item.image}} style=" width: 55%; height: 60%; border: 1px solid #ddd; border-radius: 4px;">
            <div class="caption">
                <div style="max-height: 65px;white-space:pre-line;">
                    <!-- //overflow: auto; -->
                    <h4>{{item.Description}}</h4>
                </div>
                <p style="font-size: 16px;font-weight: 700;color: #212121;">Price : ₹ {{item.price}}</p>
                <!--<a style="position: absolute;right:22px;bottom:27px;padding-bottom:0px;padding-top:0px;" class="pull-right" target="_blank" href={{item.url}}><h6>Start Demo</h6></a>-->
            </div>
        </div>
    </a>
    <!--<button ng-click="vm.deleteDemo(item)"  style="position: absolute;right:22px;bottom:27px;padding-bottom:0px;padding-top:0px;"><i class="glyphicon glyphicon-trash"></i></button>-->

</div>